<!DOCTYPE html>
<html lang="en">
<head>
    <title>Padmin | Raspberry Pi Dashboard</title>
    <meta http-equiv="refresh" content="300">

    <link rel="stylesheet" href="css/bundle.min.css">
    <link rel="stylesheet" href="css/app.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato|Source+Sans+Pro:200,400,700" rel="stylesheet">

    <script type="text/javascript" src="js/bundle.min.js"></script>
    <script type="text/javascript" src="js/app.min.js"></script>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">PyMonitor</a>

    <div class="navbar ml-auto">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <small>
                    {{ system.data.platform.distro }} ({{ system.data.platform.kernel }})
                    <br>
                    Uptime: {{ system.data.uptime.uptime }}
                </small>
            </li>
        </ul>
    </div>
</nav>

<div class="container my-5">
    <div class="row">
        <div class="col-md-4">
            <div class="third widget doughnut">
                <div class="chart-legend">
                    <h3>Temperature</h3>
                </div>
                <div id="temp" style="min-width: 310px; max-width: 400px; height: 300px; margin: 0 auto"></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="third widget line">
                <div class="chart-legend">
                    <h3>CPU</h3>
                </div>
                <div id="cpu" style="min-width: 310px; max-width: 400px; height: 300px; margin: 0 auto"></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="third widget">
                <div class="chart-legend">
                    <h3>Disk</h3>
                </div>
                <div id="disk" style="min-width: 310px; max-width: 400px; height: 300px; margin: 0 auto"></div>
            </div>
        </div>
    </div>
    <div class="row my-5">
        <div class="col-md-6">
            <table class="table table-sm">
                <thead>
                <tr>
                    <th scope="col">CPU Temp</th>
                    <th scope="col">CPU Freq</th>
                    <th scope="col">CPU Usage</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td scope="row">{{ system.data.cpu.temp|round }}°C</td>
                    <td scope="row">{{ system.data.cpu.freq }} MHz</td>
                    <td scope="row">{{ system.data.cpu.usage }}%</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table table-sm">
                <thead>
                <tr>
                    <th scope="col">Disk Used</th>
                    <th scope="col">Disk Free</th>
                    <th scope="col">Disk Total</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td scope="row">{{ system.data.disk.used|round }}GB</td>
                    <td scope="row">{{ system.data.disk.free|round }}GB</td>
                    <td scope="row">{{ system.data.disk.total|round }}GB</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row my-5">
        <div class="col-md-12">
            <div id="live_view"></div>
        </div>
    </div>
    <div class="row my-5">
        <div class="col-md-12">
            <table class="table table-sm">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">PID</th>
                    <th scope="col">User</th>
                    <th scope="col">Mem</th>
                </tr>
                </thead>
                <tbody>
                {% for proc in system.data.processes %}
                    <tr>
                        <td>{{ proc.name }}</td>
                        <td>{{ proc.pid }}</td>
                        <td>{{ proc.username }}</td>
                        <td>{{ proc.mem }} MiB</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $(function () {
        sg("#temp",Math.round({{ system.data.cpu.temp }}), '{y}°C', "{{ system.data.cpu.ystop }}");
        sg("#cpu", Math.round({{ system.data.cpu.usage }}), '{y}%', "{{ system.data.cpu.ystop }}");
        sg("#disk", Math.round({{ system.data.disk.percent}}), '{y}%', "{{ system.data.cpu.ystop }}")
    });
</script>
</body>
</html>